html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.contenedor1 {
  display: flex;
  background-color: gray;
  padding: 20px auto;
  height: 100px;
  justify-content: space-between;
}

.cuadro-pink {
  display: flex;
  align-content: flex-start;
  background-color: rgb(202, 18, 104);
  margin: 20px;
  height: 50px;
  width: 200px;

}

.contenedor-red {
  display: flex;
  align-content: flex-end;  
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-left: 100px;
}

.contenedor-red div {
  border: 2px solid black;
  background-color: red;
  width: 150px;
  height: 40px;
  margin: 10px;
}

.contenedor2-green {
  display: flex;
  justify-content: center;
  margin: 200px 100px;
  }

.contenedor2-green div {
  background-color: green;
  margin: 15px;
  height: 200px;
  width: 400px;
}
